table{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
}

tr{
    padding: 1%;
    margin: 1%; 
}

th{
    border: 3px solid black;
    border-radius: 8px;
    opacity: 0.8;
    background:white;
    padding: 1%;
    margin: 2%;
    width: 30em;
}

td{
    border: 3px solid black;
    border-radius: 8px;
    opacity: 0.8;
    background:white;
    padding: 1%;
    padding-bottom: 8em;
    margin: 2%;
    width: 30em;
}

.header{
    position:relative;
    line-height: 20px;
    margin-top: 0px;
    margin-left: px;
    margin-right:0px;
    width: 100%;
}

.headerButtonA{

    position:absolute;
    top:250px;
    left:33.5%;    
}

.headerButtonB{
    position:absolute;
    top:250px;
    left:43.5%;    
}

.headerButtonC{
    position:absolute;
    top:250px;
    left:53.5%;    
}

.headerButtonD{
    position:absolute;
    top:250px;
    left:63.5%;    
}

.backgroundImage{
    padding:0;
    margin: 0;
    text-align: center;
    color: white;
    attachment:fixed;
}

.menuGroup{
    border: 3px solid black;
    border-radius: 8px;
    background:white;
    letter-spacing: 2px;
    opacity: 0.8;
    padding: 25px;
    margin: 25px;
    font-size: 1.8em;
}

.menuLeft{
    top:320px;
    left:5%;
    float:left;
    width:48%;
    padding-left:6%;
}

.menuRight{
    top:320px;
    left:52%;
    position:absolute;
    float:right;
    width:48%;
    padding-right: 5%;
}
.menuText{
    
}


.footer{
    position:relative;
    bottom:0;
    width:100%;
}